.container {
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    width: 100%;
    height: 70%;
    
  }

 .content {
    display: flex;
    gap: 2rem;
    text-align: left;
    font-weight: 700; 
  }
  
  
  .image {
    display: flex;
      
  }
  
  .heading { 
    font-size: 40px;
    color: #f6f8f8;
    z-index: 2;
  }
  
  .sub-head {
    position: absolute;
    left: 51%;
    top: 9%;
    font-size: 2rem;
    color: #c9d9e9;
    text-align: justify;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    .container {
        margin-top: 20%;
        margin-left: 3rem;
        display: block;
        padding: 20px;
        text-align: center;
      }
    .content{
      display: block;
      margin-left: 25%;
    }

  .image {
    margin-left: 1rem;
    width: 100%;  
  }

  .heading { 
    margin-left: 7rem;
    font-size: 40px;
    color: #f6f8f8;
  }
  .sub-head{
    position: relative;
    left: 0%;
  }
  }