.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.userAvator{
  margin-left: 50%;
}
.user-image{
  width: 40%;
  border-radius: 50%;
  object-fit: cover;
}
.user-image:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

.table {
  margin-left: 25%;
    border-collapse: collapse;
    background-color: rgba(24, 2, 122, 0.4);
    border-radius: 5%;
    font-weight: 500;
  }
  
  .table th,
  .table td {
    width: 100%;
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .table th {
    background-color: #f2f2f2;
    font-weight: 900;
    text-align: center;  
  }
  .table td{
    color: rgb(6, 70, 189);
  }
  .table td:hover{
    color: rgb(43, 66, 110);
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
  }
  