.sidenav{
    width: 15%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-right: 1px solid #bbb9b9;
    background-color: rgba(255, 255, 255, 0.7);
    line-height: 3;
    z-index: 1;
    
}
.sidenav-title{
    font-size: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    color: rgb(46, 46, 40);
    font-weight: 700;
}

.sidenav-item{
    font-size: 1rem;
    padding-left: 1rem;
    line-height: 5rem;
    color: rgb(47, 47, 117);
}

.sidenav-item:hover, .sidenav-title:hover{
    background-color: rgba(13, 15, 15, 0.295);
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .sidenav{
       font-size: small;
        margin-left: -10px;
    }
}