.portal{
    background-image: url('honeycomb.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    display: flex;
    width: 120%;
    margin-top: 65px;
    font-size: small;
}
