.portal{
    background-image: url('honeycomb.jpg');
    background-size: cover;
    width: 100vw; 
    height: 100vh;
    color: black;
    background-color: rgba(rgb(201, 91, 91), rgb(49, 194, 49), blue, alpha);
}
.links{
    color: rgb(42, 5, 145);
    font-weight: 800;
    text-decoration: none;
}
.logout{
    color: brown;
    font-weight: 800;
    text-decoration: none;
}
